.homecare{
    padding:60px 0;
    background-color: #101C37;
}

.homecare-img{
    width: 50%;
    position: relative;
    width:500px;
    height:400px;
    background-color: #fff;
    border-radius: 10px;
    z-index:1;
}

.homecare-img::before{
    content:'';
   bottom:-20px;
    right:-20px;
    width:100%;
    height:100%;
    background-image: url('../../assets/homecare.jpg');
    background-position: center center;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    z-index:-1;
}

.homecare-img::before:hover{
    background-color: #fff;
}

.homecare-desc{
    width:50%;
}

/*Media queries*/
@media screen and (max-width:1080px){
   .homecare-wrapper{
    flex-direction: column-reverse;
   }
  .homecare-desc{
    width:100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .homecare-text{
    text-align: center;
  }
}

@media screen and (max-width:550px){
.homecare-img{
    width:90%;
    margin-right: 12px;
}
}